.dropdown-item{
  clear: none;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-item:hover{
  background: none;
}
.half-menu-item{
  width: 50%;
  float: left;
  padding-right: 10%;
  border-right: 1px solid #ddd;
  font-size: 14px;
}
.half-menu-item:nth-child(even) {
  border-right: 0!important;
}
.navbar-expand-xl .navbar-nav .dropdown > .dropdown-menu{
  --bs-bg-opacity: 1;
  background-color: rgba(245, 247, 249);
}
.amenity {
  width: 50%;
  float: left;
  font-size: 14px;
  clear: none;
}
.corporate-color{
  color: #ee1f25!important;
}
.corporate-bg{
  background-color: #2648A1!important;
}
.press_title{
  font-size: 1.1rem!important;
}

.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #066ac9;
  border: 2px solid #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
