.dropdown-item{
  clear: none;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-item:hover{
  background: none;
}
.half-menu-item{
  width: 50%;
  float: left;
  padding-right: 10%;
  border-right: 1px solid #ddd;
  font-size: 14px;
}
.half-menu-item:nth-child(even) {
  border-right: 0!important;
}
.navbar-expand-xl .navbar-nav .dropdown > .dropdown-menu{
  --bs-bg-opacity: 1;
  background-color: rgba(245, 247, 249);
}
.amenity {
  width: 50%;
  float: left;
  font-size: 14px;
  clear: none;
}
.corporate-color{
  color: #ee1f25!important;
}
.corporate-bg{
  background-color: #2648A1!important;
}
.press_title{
  font-size: 1.1rem!important;
}
